<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- Start es la barra de herramientas -->
    <ion-buttons slot="start">

      <!-- Creamos el boton para regresar -->
      <ion-back-button defaultHref="/" text="Volver">

      </ion-back-button>
    </ion-buttons>

    <ion-title>listado</ion-title>
  </ion-toolbar>

</ion-header>

<!-- Contenido principal, ocupa toda la pantalla definido en true -->
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">

    <ion-toolbar>
      
      <ion-title size="large">listado</ion-title>

    </ion-toolbar>

  </ion-header>
</ion-content>
